<app-encabezado></app-encabezado>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Experiencia laboral</h2>
      <p>Establecimiento: Ferretería "Esperanza"</p>
      <p>Puesto: Atención al público</p>
    </div>
  </div>		
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Educación</h2>
      <p>Nivel educativo: Secundario completo</p>
      <p>Establecimiento: Escuela Secundaria de Rio Negro N° 10</p>
      <p>Titulo: Bachiller en economia y administracion</p>
      <p>Año de finalizacion: 2021</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Hard & Soft Skills</h2>
    </div>
    <div class="row">
      <div class="col-md">
        <h3>Hard skills</h3>
        <p>H.K 1</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-label="Success example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80</div>
        </div>
        <p>H.K 2</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-label="Success example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80</div>
        </div>
      </div>
      <div class="col-md">
        <h3>Soft skills</h3>
        <p>S.K 1</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-label="Success example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80</div>
        </div>
        <p>S.K 2</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-label="Success example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Proyectos</h2>
      <ul>
        <li>Portfolio Web</li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>