<header>
    <app-menu></app-menu>
    <div>
        <figure class="figure">
            <img alt="Banner" class="figure-img img-fluid rounded" src="https://img.freepik.com/vector-premium/fondo-banner-medico-abstracto-diseno-plantillas-concepto-e-idea-tecnologia-sanitaria-medicina-innovacion-salud-ciencia-e-investigacion-encabezado-sitio-web-patron-medico-o-banner-web_181182-15643.jpg?w=2000" width="device-width">
        </figure>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Argentina Programa - Portfolio Web</h1>
                <img alt="Foto perfil" src="" class="img-thumbnail">
                <img alt="Foto" src="#">		
            </div>
        </div>
    </div>
</header>