<section id="habilidades">
  <div class="card">
    <div class="row">
      <div class="col">
        <h2 class="fs-1 text-center pb-5">HABILIDADES</h2>
      </div>
      <div class="row">
        <div class="col-md">
          <h3>Hard skills</h3>
          <p>H.K 1</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-label="Success example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80</div>
          </div>
          <p>H.K 2</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-label="Success example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80</div>
          </div>
        </div>
        <div class="col-md">
          <h3>Soft skills</h3>
          <p>S.K 1</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-label="Success example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80</div>
          </div>
          <p>S.K 2</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-label="Success example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>